/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
  /* sets the base font to 10px for easier math */
}

body {
  background-color: #ddd4cc;
  font-family: "Sawarabi Gothic", sans-serif;
  font-size: 1.6rem;
  color: #192f60;
  letter-spacing: 0.1em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.l-top {
  background-color: #739db9;
}

.l-header {
  background-color: #739db9;
  min-height: 200px;
  padding-top: 70px;
  padding-bottom: 100px;
}

.l-footer {
  background-color: #739db9;
  padding-top: 50px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .l-footer__inner {
    display: flex;
    justify-content: space-between;
  }
}

.l-container {
  padding: 10% 5%;
}

.c-icon {
  display: flex;
  gap: 30px;
  padding: 0;
}
@media screen and (min-width: 600px) {
  .c-icon {
    gap: 90px;
  }
}

.c-map iframe {
  width: 100%;
}

.c-heading {
  border-bottom: solid 3px #739db9;
  font-size: 2.4rem;
  line-height: 2;
}
.c-heading--top {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
  letter-spacing: 0.15em;
  text-shadow: 1px 1px #739db9, -1px 1px #739db9, 1px -1px #739db9, -1px -1px #739db9, 0px 1px #739db9, 0px -1px #739db9, 1px 0px #739db9, -1px 0px #739db9;
  padding-bottom: 90px;
}
@media screen and (min-width: 1025px) {
  .c-heading--top {
    font-size: 5rem;
    padding-bottom: 140px;
  }
}

.c-text {
  line-height: 2.5;
  margin: 30px 0;
}

.c-menu {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.p-header {
  display: grid;
  place-items: center;
}
.p-header__menu {
  text-align: center;
  margin: 60px 0;
}
@media screen and (min-width: 600px) {
  .p-header__menu {
    font-size: 3rem;
  }
}

.p-top {
  position: relative;
  min-height: 700px;
  display: flex;
}
.p-top__hero {
  position: absolute;
  z-index: 0;
  right: 0;
  background-image: url(../images/hero_bookshelf.jpg);
  height: 500px;
  width: 80%;
}
.p-top__logo {
  position: relative;
  z-index: 1;
  padding-top: 120px;
  padding-left: 5%;
}
.p-top__logo img {
  height: 100px;
}
@media screen and (min-width: 600px) {
  .p-top__logo img {
    height: 150px;
  }
}
@media screen and (min-width: 1025px) {
  .p-top__logo img {
    height: 200px;
  }
}

.p-footer__logo {
  height: 60px;
}
@media screen and (min-width: 1025px) {
  .p-footer__logo {
    height: 110px;
  }
}
.p-footer__menu {
  font-size: 1.4rem;
  margin-top: 20px;
  margin-bottom: 45px;
}
@media screen and (min-width: 600px) {
  .p-footer__menu {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
  }
}
@media screen and (min-width: 1025px) {
  .p-footer__menu {
    font-size: 2.5rem;
  }
}
.p-footer__icon img {
  height: 20px;
}
@media screen and (min-width: 600px) {
  .p-footer__icon {
    display: none;
  }
}
.p-footer small {
  font-size: 1.1rem;
  text-align: center;
  display: grid;
  place-items: center;
  margin-top: 30px;
}
@media screen and (min-width: 600px) {
  .p-footer small {
    justify-items: left;
  }
}

.p-content h3 {
  margin-top: 30px;
  font-size: 2rem;
}
.p-content-menu {
  margin-top: 70px;
}
.p-content-menu .c-text {
  margin-top: 20px;
}
@media screen and (min-width: 830px) {
  .p-content-menu__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.p-content-menu__area {
  display: flex;
  justify-content: space-between;
}
.p-content-access {
  margin-top: 70px;
}

/* Foundation
==========================*/
/* Layout
==========================*/
/* Object
==========================*/
/* Component* -------------------- */
/* Project* -------------------- */
/* Utility* -------------------- */
/*# sourceMappingURL=style.css.map */