@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-content {
  // h2 {
  //   padding-top: 200px;
  //   margin-top: -200px;
  // }
  h3 {
    margin-top: 30px;
    font-size: 2rem;
  }
  &-menu {
    margin-top: 70px;
    .c-text {
      margin-top: 20px;
    }
    &__wrapper {
      @include m.mq(pc) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
      }
    }
    .slideUp.move:nth-of-type(2) {
      transition: all 0.8s ease;
    }
    .slideUp.move:nth-of-type(3) {
      transition: all 1.1s ease;
    }
    &__area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &::after {
        height: 1px;
        content: "";
        // background: radial-gradient(v.$font-color 20%, transparent 30%) center/
        //   1em;
        background-size: 3px 1px;
        background-image: linear-gradient(
          to right,
          v.$font-color,
          v.$font-color 1px,
          transparent 1px,
          transparent 3px
        );
        flex: auto;
        margin: 0 20px;
      }
      dd {
        order: 1;
      }
    }
  }
  &-access {
    margin-top: 70px;
    &__wrapper {
      @include m.mq(pc) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        padding-top: 50px;
      }
    }
    &__text {
      margin: 0;
      padding: 50px 0;
      dl {
        display: grid;
        grid-template-columns: 100px 1fr;
      }
    }
    &__icon {
      display: none;
      @include m.mq(pc) {
        display: flex;
        margin-top: 50px;
      }
    }
  }
}
