@use "../../foundation/mixin" as m;

.p-content {
  h3 {
    margin-top: 30px;
    font-size: 2rem;
  }
  &-menu {
    margin-top: 70px;
    .c-text {
      margin-top: 20px;
    }
    &__wrapper {
      @include m.mq(md) {
        display: flex;
        justify-content: space-around;
      }
    }
    &__area {
      display: flex;
      justify-content: space-between;
    }
  }
  &-access {
    margin-top: 70px;
  }
}
