@use "../../foundation/mixin" as m;

.p-footer {
  &__logo {
    height: 60px;
    @include m.mq(pc) {
      height: 110px;
    }
  }
  &__menu {
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 45px;
    @include m.mq(tab) {
      display: flex;
      gap: 20px;
      align-items: center;
      margin: 0;
    }
    @include m.mq(pc) {
      font-size: 2.5rem;
    }
  }
  &__icon {
    img {
      height: 20px;
    }
    @include m.mq(tab) {
      display: none;
    }
  }
  small {
    font-size: 1.1rem;
    text-align: center;
    display: grid;
    place-items: center;
    margin-top: 30px;
    @include m.mq(tab) {
      justify-items: left;
    }
  }
}
