@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-header {
  &__top {
    height: 100px;
    width: 100%;
    position: relative;
    transform: translate(0, -100px);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  &__logo {
    height: 60px;
    width: 200px;
    background-image: url(/images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    @include m.mq(pc) {
      height: 80px;
    }
  }
  &__buttonBlock {
    position: relative;
    height: 50px;
    width: 50px;
  }
  &__button {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 200;
    top: 0;
    right: 0;
    cursor: pointer;
    span {
      display: inline-block;
      transition: all 0.2s;
      position: absolute;
      left: 13px;
      height: 2px;
      background-color: v.$font-color;
      &:nth-of-type(1) {
        top: 22px;
        width: 50%;
      }
      &:nth-of-type(2) {
        top: 29px;
        width: 50%;
      }
    }
    &.open span:nth-of-type(1) {
      top: 20px;
      left: 16px;
      transform: translateY(6px) rotate(-45deg);
      width: 35%;
    }
    &.open span:nth-of-type(2) {
      top: 32px;
      left: 16px;
      transform: translateY(-6px) rotate(45deg);
      width: 35%;
    }
  }
  // .c-icon {
  //   padding-bottom: 100px;
  // }
  &.sticky {
    position: fixed;
    background-color: v.$back-color;
    transform: translate(0, 0);
    transition: all 0.5s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  }
}
