@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-header {
  &__top {
    height: 100px;
    width: 100%;
    position: relative;
    transform: translate(0, -100px);
    z-index: 100;
  }
  &__button {
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 200;
    top: 20px;
    right: 20px;
    cursor: pointer;
    span {
      display: inline-block;
      transition: all 0.2s;
      position: absolute;
      left: 13px;
      height: 2px;
      background-color: v.$font-color;
      &:nth-of-type(1) {
        top: 22px;
        width: 50%;
      }
      &:nth-of-type(2) {
        top: 29px;
        width: 50%;
      }
    }
    &.open span:nth-of-type(1) {
      top: 20px;
      left: 16px;
      transform: translateY(6px) rotate(-45deg);
      width: 35%;
    }
    &.open span:nth-of-type(2) {
      top: 32px;
      left: 16px;
      transform: translateY(-6px) rotate(45deg);
      width: 35%;
    }
  }
  &__nav {
    width: 100%;
    background-color: v.$main-color;
    display: grid;
    place-items: center;
    padding-top: 70px;
    padding-bottom: 100px;
    // display: none;
    visibility: hidden;
    // opacity: 0;
    transform: translateY(-1000px);
    transition: 0.5s;
    &.active {
      // display: grid;
      visibility: visible;
      // opacity: 1;
      transform: translateY(0);
      z-index: 100;
      position: fixed;
      transition: 0.5s;
    }
  }
  &__menu {
    text-align: center;
    margin: 60px 0;
    @include m.mq(tab) {
      font-size: 3rem;
    }
  }
  // .c-icon {
  //   padding-bottom: 100px;
  // }
  &.sticky {
    position: fixed;
    background-color: v.$back-color;
    transform: translate(0, 0);
    transition: 0.5s;
  }
}
