// .p-slideContainer {
//   white-space: nowrap;
//   width: 400px;
//   height: 600px;
//   overflow: hidden;
//   img {
//     display: inline;
//   }
// }

// @keyframes slideContainer4 {
//   0% {
//     margin-left: 0;
//   }
//   33% {
//     margin-left: -100%;
//   }
//   66% {
//     margin-left: -200%;
//   }
//   100% {
//     margin-left: -300%;
//   }
// }

// .p-slideContainer > :first-child {
//   animation-name: slideContainer4;
//   animation-duration: 5s;
//   animation-delay: 0s;
//   animation-iteration-count: infinite;
// }
.p-slidewrap {
  display: flex;
  align-items: center;
  overflow: hidden;
  ul {
    display: flex;
  }
  li {
    width: 400px;
  }
}
// アニメーション
.p-slidewrap ul {
  animation-name: loop-slide; /* アニメーション名 */
  animation-duration: 40s; /* 開始から終了までの所要時間 */
  animation-iteration-count: infinite; /* アニメーションのループ回数 */
  animation-timing-function: linear; /* 動きの加減速 */
  animation-delay: 1s; /* アニメーションが開始するまでの遅延時間 */
  animation-fill-mode: both; /* アニメーション開始前・終了後の挙動 */
}
@keyframes loop-slide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
