@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;

.p-top {
  position: relative;
  z-index: 10;
  height: 100vh;
  display: flex;
  &__hero {
    position: absolute;
    z-index: 0;
    right: 0;
    background-image: url(../images/hero_bookshelf.jpg);
    height: 80vh;
    width: 80vw;
    @include m.mq(tab) {
      width: 70vw;
    }
  }
  &__logo {
    position: relative;
    z-index: 10;
    padding-top: 120px;
    padding-left: 5%;
    img {
      height: 100px;
      @include m.mq(tab) {
        height: 150px;
      }
      @include m.mq(pc) {
        height: 200px;
      }
    }
  }
}
